body{
  height: 12500px;
  width: 1910px;
  margin: 0;
  font-family: "Roboto-Regular";
  background: #FAFAFA;
}


::selection {
  background: #FD6140;
  color: rgb(0, 0, 0); 
 }


@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf");
}


::-webkit-scrollbar-thumb{
  background: #000000;
  border-radius: 15px;
}

::-webkit-scrollbar-track{
  background: #343434;
}

::-webkit-scrollbar{
  width: 10px;
}


@media (prefers-reduced-motion: no-preference){
  :root { scroll-behavior: smooth;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input{
  outline:none;
}






.main_back{
  position: absolute;
  width: 1910px;
  pointer-events: none;
}

.main_line{
  position: absolute;
  width: 1908px;
  height: 0px;
  left: 0px;
  top: 58px;
  border: 1px solid #B9B9B9;
  opacity: 0.5;
}

.content{
  height: 12500px;
  width: 1110px;
  margin-left: 405px;
}

.main{
  position: absolute;
  height: 600px;
  width: 1110px;
}

.logo{
  pointer-events: none;
  position: absolute;
  width: 107px;
  height: 42px;
  top: 8px;
}

.info1{
  position: absolute;
  width: 85px;
  height: 15px;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  top: 11px;
  left: 345px;
}

.podinfo1{
  position: absolute;
  left: 345px;
  top: 28px;
  width: 78px;
  height: 18px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #FD6140;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.info2{
  position: absolute;
  top: 11px;
  left: 633px;
  width: 41px;
  height: 15px;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.podinfo2{
  position: absolute;
  top: 28px;
  left: 484px;
  width: 230px;
  height: 18px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #FD6140;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.info3{
  position: absolute;
  top: 11px;
  left: 784px;
  width: 56px;
  height: 15px;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.podinfo3{
  position: absolute;
  top: 28px;
  left: 724px;
  width: 230px;
  height: 18px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #FD6140;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.info4{
  position: absolute;
  top: 11px;
  left: 1048px;
  width: 76px;
  height: 15px;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.podinfo4{
  position: absolute;
  top: 28px;
  left: 907px;
  width: 230px;
  height: 18px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #FD6140;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.nav{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 35px;
  position: absolute;
  width: 1110px;
  height: 19px;
  left: 0px;
  top: 74px;
}

.nav__link{
  text-decoration: none;
  height: 19px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  transition: all .3s;

}

.nav__link:hover{
  color: #FD6140;
}

.text{
  position: absolute;
  width: 608px;
  height: 132px;
  top: 154px;
  font-weight: 700;
  font-size: 56px;
  line-height: 66px;
  color: #FFFFFF;
}

.spisok1{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 18px;
  position: absolute;
  width: 656px;
  height: 166px;
  margin-left: 10px;
  top: 310px;
}

li{
  list-style-type: square;
  color: #FD6140;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-left: 15px;
}

li span{
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.but{
  border-radius: 4px;
  font-size: 14px;
  border: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 42px;
  gap: 10px;
  position: absolute;
  width: 203px;
  height: 54px;
  top: 515px;
  background: #FD6140;
  color: #FFFFFF;
  transition: all .3s;
  cursor: pointer;
}

.but:hover{
  transform: scale(1.05);
}


.form{
  position: absolute;
  box-sizing: border-box;
  width: 600px;
  height: 393px;
  padding-top: 49px;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgb(188, 188, 188);
  left: 233px;
  top: 600px;
  padding-left: 149px;
  padding-right: 149px;
}

.form_input,
.form_form_button{
  font-size: 16px;
}

.form_title{
  text-align: center;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #02303F;
}

.form_group{
  position: relative;
  margin-bottom: 12px;
}

.form_label{
  position: absolute;
  top: 10px;
  left: 14px;
  z-index: -1;
  color: #9C9C9C;
  transition:all .3s;
}

.form_input{
  font-size: 19px;
  font-family: "Roboto-Regular";
  outline: none;
  width: 100%;
  height: 39px;
  border: none;
  border-bottom: 1px solid #6a6a6a;
  border-left: 1px solid #6f6f6f;
  border-right: 1px solid #707070;
  border-top: 1px solid #727272;
  background-color: transparent;
  transition: all .2s;
}

.form_input:focus{
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-top: 1px solid #000000;
}


.form_button{
  width: 157px;
  height: 44px;
  text-align: center;
  color: #FFFFFF;
  background: #1BB2DE;
  border: 0;
  transition: all .3s;
  cursor: pointer;
  font-size: 17px;
  margin-left: 73px;
}

.form_button:focus,
.form_button:hover{
  background: #0071f0;
}

.form_input:focus ~ .form_label, .form_input:not(:placeholder-shown) ~ .form_label{
  color: transparent;
}


.galka{
  position: absolute;
  top: 331px;
  margin-left: 149px;
  width: 12px;
  height: 12px;
  left: 0px;
}

.glk{
  margin-left: 15px;
  position: absolute;
  width: 284px;
  height: 42px;
  left: 153px;
  top: 333px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #ADADAD;
}



.cards{
  position: absolute;
  width: 1110px;
  height: 1291px;
  top: 1062px;
}

.txtvrh{
  position: absolute;
  width: 1060px;
  height: 48px;
  left: 0px;
  top: 0px;
  font-weight: 400;
  font-size: 41px;
  line-height: 48px;
  color: #676767;
}

.txtvr{
  color: #FD6140;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 350px;
  height: 567px;
  left: 0px;
  top: 111px;
  background: #FFFFFF;
}

.lor{
  position: absolute;
  top: 24px;
  left: 20px;
  width: 310px;
  height: 50px;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  color: #02303F;
  flex: none;
  order: 0;
  flex-grow: 1;
}


.imgcard{
  position: absolute;
  top: 98px;
  width: 350px;
  height: 220px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.chars{
  padding-top: 20px;
  position: absolute;
  display: flex;
  top: 318px;
  gap: 8px;
  flex-direction: column;
  align-items: flex-start;
  left: 20px;
}

.char{
  width: 130px;
  height: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #929292;
  flex: none;
  order: 0;
  flex-grow: 0;
}


.prepraces{
  padding-top: 20px;
  position: absolute;
  display: flex;
  top: 318px;
  gap: 8px;
  flex-direction: column;
  align-items: flex-start;
  left: 256px;
}

.preprace{
  width: 74px;
  height: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #1BB2DE;
  flex: none;
  order: 1;
  flex-grow: 0;
}


.podprepraceline{
  position: absolute;
  left: 20px;
  top: 438px;
  width: 310px;
  height: 0px;
  opacity: 0.4;
  border: 1px solid #B9B9B9;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.prace{
  position: absolute;
  left: 20px;
  top: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 4px;
  width: 310px;
  height: 21px;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.cena{
  width: 55px;
  height: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #929292;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.pprace{
  width: 90px;
  height: 21px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #1BB2DE;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.cardbut{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 72px;
  background: #1BB2DE;
  color: #FFFFFF;
  flex: none;
  cursor: pointer;
  top: 495px;
  border: none;
  font-size: 19px;
  transition: all .3s;
}

.cardbut:hover{
  background: #0071f0;
}


.vector{
  position: absolute;
  width: 4px;
  height: 8px;
  margin-left: 124px;
  top: 33px;
  
}

.card2{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 350px;
  height: 567px;
  left: 380px;
  top: 111px;
  background: #FFFFFF;
}

.card3{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 350px;
  height: 567px;
  left: 760px;
  top: 111px;
  background: #FFFFFF;
}


.card4{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 350px;
  height: 567px;
  left: 0px;
  top: 724px;
  background: #FFFFFF;
}


.card5{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 350px;
  height: 567px;
  left: 380px;
  top: 724px;
  background: #FFFFFF;
}


.card6{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 350px;
  height: 567px;
  left: 760px;
  top: 724px;
  background: #FFFFFF;
}







.union{
  pointer-events: none;
  left: 1088px;
  top: 2504px;
  position: absolute;
  border-radius: 10px;
}

.okno{
  left: 985px;
  top: 2438px;
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

.form2{
  position: absolute;
  box-sizing: border-box;
  width: 1110px;
  height: 353px;
  padding-top: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgb(178, 178, 178);
  left: 405px;
  top: 2504px;
  padding-left: 40px;
}

.form_input2,
.form_form_button2{
  font-size: 16px;
}

.form_title2{
  padding-bottom: 10px;
  width: 409px;
  height: 60px;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  color: #303030;
}

.form_group2{
  position: relative;
  margin-bottom: 12px;
}

.form_label2{
  position: absolute;
  top: 13px;
  left: 14px;
  z-index: -1;
  color: #9C9C9C;
  transition:all .3s;
}

.form_input2{
  font-size: 19px;
  font-family: "Roboto-Regular";
  outline: none;
  width: 320px;
  height: 44px;
  border: none;
  border-bottom: 1px solid #6a6a6a;
  border-left: 1px solid #6f6f6f;
  border-right: 1px solid #707070;
  border-top: 1px solid #727272;
  background-color: transparent;
  transition: all .2s;
}

.form_input2:focus{
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-top: 1px solid #000000;
}


.form_button2{
  position: absolute;
  width: 203px;
  height: 54px;
  text-align: center;
  color: #FFFFFF;
  background: #FD6140;
  border: 0;
  transition: all .3s;
  cursor: pointer;
  font-size: 17px;
  left: px;
}

.form_button2:focus,
.form_button2:hover{
  background: #f00000;
}

.form_input2:focus ~ .form_label2, .form_input2:not(:placeholder-shown) ~ .form_label2{
  color: transparent;
}



.artokna{
  position: absolute;
  width: 1110px;
  height: 600px;
  top: 2963px;
}

.txtart{
  position: absolute;
  width: 401px;
  height: 48px;
  left: 0px;
  top: 7px;
  font-weight: 400;
  font-size: 41px;
  line-height: 48px;
  color: #000000;
}


.txtar{
  color: #1BB2DE;
}

.img15{
  pointer-events: none;
  top: 15px;
  left: 655px;
  position: absolute;
}


.lor2{
  position: absolute;
  width: 540px;
  height: 303px;
  left: 0px;
  top: 79px;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: #727272;
}

.lor3{
  position: absolute;
  width: 540px;
  height: 303px;
  left: 0px;
  top: 409px;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: #727272;
}